.Movies {
    text-align: center;
  }
  
p.current{
    background-color: red;
    width: 800px;
    height: 35px;
    text-align: center;
    margin-top: 30px;
    margin-left: 350px;
    color: white;
    font-size: 25px;
  }

  input.search{
    background-color: orange;
color: white;
border-color: white;
font-size: 25px;
margin-left: -40px;
width: 800px;
}

input.results1{
background-color: orange;
color: white;
border-color: white;
font-size: 25px;
margin-left: -40px;

}

input.ms{
    background-color: orange;
color: white;
border-color: white;
font-size: 25px;
margin-left: -50px;
width: 400px;
}
input.details{
    background-color: orange;
    color: white;
    border-color: white;
    font-size: 25px;
    width: 400px;
    }

input.results{
    height: 400px;
}
input.results2{
    height: 400px;
}

input.rent{
    background-color: green;
    color: white;
    margin-left: -720px;
}
